[Unit]
Description=The Community Witness Backend REST API
Requires=postgresql.service
After=postgresql.service network.target

[Service]
Type=simple
Environment=MAX_HEAP_SIZE=1G
ExecStart=/usr/bin/java -server -Xmx${MAX_HEAP_SIZE} -jar /usr/local/lib/CommunityWitnessBackend/Backend.jar
Restart=on-failure

[Install]
WantedBy=multi-user.target
