[Unit]
Description=The Community Witness Backend REST API
Requires=postgresql.service
After=postgresql.service network.target

[Service]
Type=simple
Environment=JAVA_OPTS='-server -Xmx1G'
Environment=BASE_URI=http://0.0.0.0
ExecStart=${launcherInstallDir}/${file} $BASE_URI
Restart=on-failure

[Install]
WantedBy=multi-user.target
