[Unit]
Description=The Community Witness Backend REST API
Requires=postgresql.service
After=postgresql.service network.target

[Service]
Type=simple
Environment=JAVA_OPTS='-server -Xmx1G'
Environment=CONFIG_FILE=${configInstallDir}/CommunityWitness.properties
ExecStart=${launcherInstallDir}/${file} "$CONFIG_FILE"
Restart=on-failure

[Install]
WantedBy=multi-user.target
